@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode defaults */
  --bg-primary-light: #E8F0F2;
  --bg-secondary-light: #D9E4DD;
  --text-primary-light: #4A5C6A;
  --text-secondary-light: #7C8B94;
  --btn-bg-light: #6C9A8B;
  --btn-bg-hover-light: #4E7C6C;
  --card-bg-light: #F9FAFB;
  --success-light: #065f46;
  --error-light: #991b1b;

  /* Dark mode defaults */
  --bg-primary-dark: #222831;
  --bg-secondary-dark: #393E46;
  --text-primary-dark: #DFD0B8;
  --text-secondary-dark: #948979;
  --btn-bg-dark: #948979;
  --btn-bg-hover-dark: #DFD0B8;
  --card-bg-dark: #393E46;
  --success-dark: #a7f3d0;
  --error-dark: #fecaca;
}


.dark {
  /* Retro Dark Mode Colors */
  --bg-primary: #1a1a1a;
  --bg-secondary: #2c2c2c;
  --text-primary: #fef6e4;
  --text-secondary: #b48ead;
  --btn-bg: #588157;
  --btn-bg-hover: #3a5a40;
  --card-bg: #2c2c2c;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}